body{
    background-color:rgb(212, 202, 201)
}

h1{
    font-family: "consolas", sans-serif;
    margin: auto ;
    max-width: 700px;
    font-size: 40px;
    
    height: 58vh ;
    position: absolute;
    bottom: 0;
    
    padding-left: 50px;


}

p{
    font-size: 21px;
    font-family: "consolas", sans-serif;
}